.main{
    background:url("../css/img/gplaypattern.png");
    background-repeat: repeat;

    .acerca-de{
        .contenedor{
            overflow: visible;
            position: relative;
            .foto{
                width: 80%;
                position: absolute;
                left: 0;
                top: -50px;
                z-index: 0;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
                img{
                    width: 100%;
                    vertical-align: top;
                }
            }
            article{
                background: #fff;
                padding: 40px;
                width: 50%;
                position: relative;
                top: 500px;
                z-index: 1;
                float: right;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
                h3{
                    font-size: 50px;
                    font-weight: 300;
                    margin-bottom: 40px;
                }
                p{
                    line-height: 28px;
                    margin-bottom: 15px;
                }
            }
        }
        
    }
}